best_file.cpp
best_file.obj
console_matrix.exe
console_matrix.ilk
console_matrix.obj
console_matrix.pdb
lab_1_tests.exe
lab_1_tests.ilk
lab_1_tests.obj
lab_1_tests.pdb
vc140.pdb
tests/matrix_0.txt
tests/matrix_1.txt
tests/matrix_2.txt
tests/matrix_3.txt
tests/matrix_4.txt
tests/matrix_6.txt
tests/matrix_5.txt
tests/matrix_7.txt
tests/matrix_8.txt
tests/matrix_9.txt
tests/matrix_10.txt
tests/matrix_11.txt
tests/matrix_12.txt
tests/matrix_13.txt
tests/matrix_14.txt
tests/matrix_15.txt
tests/matrix_16.txt
tests/matrix_17.txt
tests/matrix_18.txt
tests/matrix_19.txt
